*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid bisque 1px; */
}

.set-index{
    z-index: -10;
}

.set-top0{
    position: absolute;
    top: -19px;
}

.set-bg{
    background-image: url('../../assets/img/bg-mobile.png');
    background-size: cover;
}