:root {
  --Pink500-Primaly: #EC4899;
  --Indigo500-Primaly: #6366f1;
  --Indigo700-Second: #4338CA;
  --Background: linear-gradient(180deg, #000 0%, #181616 100%);
  --Pink500-Indigo700: linear-gradient(135deg, #EC4899 0%, #4338CA 100%);
  --btn-neon: linear-gradient(90deg, #EC4899 0%, #ec489a25 40%, #4438ca25 60%, #4338CA 100%);
  --btn-neon-focus: linear-gradient(90deg, #EC4899 0%, #4338CA 100%);
  --Whitehighlight: rgba(255, 255, 255, 0.50);
  --neonbg: linear-gradient(90deg, #EC4899 48.72%, #6366F1 49.3%);
}


/* CSS */
.ping {
  animation: ping2 1.5s linear infinite;
}

@keyframes ping2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }

}


.input_text:focus {
  outline: 1px solid #EC4899;
  transition: 800ms;
}




.custom-file-input{
  text-align-last: center
}
.custom-file-input::-webkit-file-upload-button {
  display: none;
}

.custom-file-input::before {
  color: transparent;
  display: flex;
  cursor: pointer;

}

.custom-file-input:active {
  outline: 0;
  text-align: center;
}

.snap-center:focus {
  transform: scale(1.1);
}

.btn_gender:hover,
.box_gender:hover {
  /* border: 2px solid white; */
  transform: scale(1.1);
  transition: 600ms;
  border-radius: 20px;
  background: linear-gradient(135deg, #EC4899, #4338CA);
}

/* Apply styles to the background when radio button is checked */
input[type="radio"]:checked + label {
  transform: scale(1.1);
  transition: 600ms;
  border-radius: 20px;
  background: linear-gradient(135deg, #ec4899, #4338ca);
}



.range_bar {
  transform: rotate(270deg);
  width: 600px;
  height: 350px;
  -webkit-appearance: none;
  -webkit-transition: 800ms;
  background: #d9d9d900;
  outline: none;
  position: relative;
  /* top: 90px; */
}

.range_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: tra;
  cursor: pointer;
  -webkit-transition: 800ms;

}


.range_show_numer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* transition-duration: 3000ms; */
}

.current_age {
  border-top: 0.25rem solid #EC4899;
  border-bottom: 0.25rem solid #EC4899;
  width: 16rem;
}

.range_bar_weigth {
  /* transform: rotate(270deg); */
  height: 80px;
  -webkit-appearance: none;
  -webkit-transition: 800ms;
  background: #d9d9d900;
  /* outline: 1px solid  white; */
  position: relative;
  /* top: 90px; */
}

.range_bar_weigth::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 50px;
  background: #EC4899;
  cursor: pointer;
  -webkit-transition: 800ms;
  /* border-left: 1px solid white; */
  outline-offset: 2rem;
  /* outline: 1px solid  white; */
}


.range_bar_weigth {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* transition-duration: 3000ms; */
}

.scale_weight {
  position: relative;
  bottom: 50px;
  border-top: 5px dashed #EC4899;
}


.border-neon{
  border: 3px solid transparent;
  border-image: var(--btn-neon);
  border-image-slice: 1;
  /* Apply the fade-in animation */
}


.btn_button {
  border: 2px solid transparent;
  border-image: var(--btn-neon);
  border-image-slice: 1;
  transition: background 1s;
  /* Apply the fade-in animation */

}

.btn_button:hover {
  background: linear-gradient(90deg, var(--Pink500-Primaly) 0%, var(--Indigo700-Second) 100%);
  background-size: cover;

}



.btn-color{
  background: linear-gradient(320deg, #3A70F7 30%, var(--Pink500-Primaly) 70%);
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.5s ease-out;
}

.btn-color:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  /* box-shadow:  -50px 0px 100px var(--Pink500-Primaly), 50px 10px 100px var(--Indigo700-Second); */
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
