@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/src/assets/img/20-SON01830.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }



    /* Define your breakpoints */
:root {
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
}

/* Styles for small screens and above */
@media (min-width: var(--sm)) {
  .sm-some-class {
    /* styles for small screens and above */
  }
}

/* Styles for medium screens and above */
@media (min-width: var(--md)) {
  .md-some-class {
    /* styles for medium screens and above */
  }
}
  /* Styles for lg screens and above */
@media (min-width: var(--lg)) {
  .lg-some-class {
    /* styles for medium screens and above */
  }
}

@media (min-width: var(--xl)) {
  .xl-some-class {
    /* styles for medium screens and above */
  }
}
